body {
  background-color: #3D434C;
  
}
.wrapper {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url("/images/scores.png");
  background-size: cover;
}

.wrapper img {
  padding-top: 10%;
}

.wrapper h2 {
  font-family: Lato;
  color: white;
  
}

.col{
  width: 50vw;
}

.tagline h1{
  font-size: 98px;
  font-family: 'Lato', sans-serif;
  color: white;
}

.tagline h3{
  font-size: 32px;
  font-family: 'Lato', sans-serif;
  color: #dbd8d5;
}

#ipadExample{
  height: auto;
  width: 52vw;
  margin-right: 0;
}